.c-okr {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "priority goal"
    "next     Soundness"
  ;
  border: 2px solid $border-color-primary;
  border-radius: 4px;
  background-color: #fff;

  &__cell {
    min-height: 50%;
    padding: 10px;

    &--goal {
      grid-area: goal;
      border-bottom: 2px solid $border-color-primary;
    }

    &--Soundness {
      grid-area: Soundness;
    }

    &--priority {
      grid-area: priority;
      border-right: 2px solid $border-color-primary;
      border-bottom: 2px solid $border-color-primary;
    }

    &--next {
      grid-area: next;
      border-right: 2px solid $border-color-primary;
    }
  }
}