.c-signboard {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  line-height: 50px;
  font-weight: bold;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    border-radius: 10px;
    border: 2px solid #369efB;
    background-color: #369efB;
    left: -10px;
    top: -10px;
  }

}

.c-signboard-container {
  &.is-static {
    position: absolute;
    top: 108px;
    left: 124px;
  }

  &.is-fixed {
    position: fixed;
    top: 108px;
    left: 124px;
  }

  &.is-absolute {
    position: absolute;
    bottom: 0;
    left: 124px;
  }
}