.p-footer {
  background-color: rgba(251, 251, 251, .5);
  padding: 48px 3vw 12px;
  border-top: 1px #ccc solid;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: $text-color-primary;
    text-decoration: none;

    &:hover,
    &:active {
      color: $text-color-primary;
      text-decoration: none;
    }
  }

  &__logo-svg {
    position: relative;
    top: -2px;
    width: 26px;
    margin-right: 8px;

    path {
      fill: #273444
    }   
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-item {

  }

  &__nav-anchor {
    color: #fff;
    font-size: 12px;
  }
}