.p-footer {
  position: relative;
  background-color: #273444;
  z-index: 1;

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-item {

  }

  &__nav-anchor {
    color: #fff;
    font-size: 12px;
  }
}