.p-form {
  &__column {
  }
}

.p-form-devise {
  &__heading {
    text-align: center;
    margin-bottom: 60px;
  }

  &__item {
    margin-bottom: 42px;
  }

  &__checkbox {
    margin: -12px auto 36px;
    text-align: center;
  }

  &__submit {
    text-align: center;
    margin-bottom: 68px;
  }

  &__link {
    & > * {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}