.p-top-content {
  position: relative;
  z-index: 1;
  padding-bottom: 120px;

  &__heading {
    text-align: center;
    margin-bottom: 48px;
  }

  &__description {
    text-align: center;
    margin-bottom: 24px;
  }

  &__caption {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  &__btn {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}