$extra-dark-blue-color: #0db5ff;
$dark-blue-color: #3dc4ff;
$blue-color: #6ed3ff;
$light-blue-color: #9ee1ff;
$extra-light-blue-color: #cff0ff;

$link-color: #0db5ff;
$link-color-hover: #2a85d7;

$text-color-primary: #273444;
$text-color-dafault: #4e5067;

$nav-link-color: #5C6773;
$nav-link-color-hover: #273444;

$btn-color-primary: #369EFB;
$btn-color-hover: #2a85d7;

$border-color-primary: #273444;
$base-color-dafault: #4e5067;
$base-color-secondary: #6e7087;