@charset "UTF-8";
/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse; }

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

input {
  border: 0;
  outline: 0; }

* {
  box-sizing: border-box;
  color: #4e5067; }

body {
  color: #fff; }

.content {
  background-color: #f2f3f6; }

/* Radio ---------------------------------------------------*/
input[type="radio"] {
  display: none;
  /*checked時の見た目*/ }
  input[type="radio"] + label {
    display: block;
    cursor: pointer;
    /*通常時の見た目*/
    /*hover時の見た目*/ }
    input[type="radio"] + label:before {
      width: 30px;
      height: 30px;
      display: inline-block;
      content: "";
      border-radius: 17px;
      vertical-align: middle;
      border: 2px solid #dddddd;
      background-color: #f0f0f0;
      margin: -2px 5px 0 0;
      transition: .1s; }
    input[type="radio"] + label:hover {
      color: #808080; }
      input[type="radio"] + label:hover::before {
        background-color: #fff; }
  input[type="radio"]:checked + label {
    color: #36bbe7;
    cursor: default; }
    input[type="radio"]:checked + label::before {
      border-color: #36bbe7 !important;
      background-color: #36bbe7 !important;
      box-shadow: inset 0 0 0 7px #fff; }

/* Checkbox ------------------------------------------------*/
input[type="checkbox"] {
  display: none;
  /*checked時の見た目*/ }
  input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    /*通常時の見た目*/
    /*hover時の見た目*/ }
    input[type="checkbox"] + label:before {
      content: "\2713";
      width: 24px;
      height: 24px;
      line-height: 22px;
      font-size: 22px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: transparent;
      padding: 0;
      border-radius: 4px;
      border: 2px solid #dddddd;
      background: #f0f0f0;
      margin: -3px 12px 0 0;
      transition: .1s;
      box-sizing: border-box; }
    input[type="checkbox"] + label:hover {
      color: #808080; }
      input[type="checkbox"] + label:hover::before {
        background-color: #fff; }
  input[type="checkbox"]:checked + label {
    color: #36bbe7; }
    input[type="checkbox"]:checked + label:before {
      background: #fff !important;
      border-color: #36bbe7 !important;
      color: #36bbe7 !important; }

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9; }

.l-main {
  padding: 3vw; }

.l-main-devise {
  width: 480px;
  margin: 80px auto 120px; }

.c-box--notice {
  display: block;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100px);
  color: #fff;
  border: 1px #ffc82c solid;
  padding: 8px 16px;
  background-color: #ffc82c;
  border-radius: 4px;
  font-weight: bold;
  z-index: 10;
  animation: notice 5s ease-in-out .5s;
  opacity: 0; }

@keyframes notice {
  0% {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0; }
  10% {
    transform: translateX(-50%) translateY(24px);
    opacity: 1; }
  90% {
    transform: translateX(-50%) translateY(24px);
    opacity: 1; }
  100% {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0; } }

.c-btn--primary {
  display: inline-block;
  background-color: #369EFB;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  border-radius: 16px;
  padding: 8px 16px;
  transition: .2s ease-in;
  cursor: pointer; }
  .c-btn--primary:hover {
    color: #fff;
    background-color: #2a85d7; }

.c-btn--large {
  font-size: 20px;
  border-radius: 32px;
  padding: 16px 32px;
  letter-spacing: .1em;
  cursor: pointer; }

.c-form {
  display: flex;
  align-items: center;
  align-content: flex-start;
  border-bottom: 1px #273444 solid; }
  .c-form input {
    width: 100%; }
    .c-form input:-webkit-autofill {
      box-shadow: 0 0 0 1000px white inset;
      color: #0b77a7; }
  .c-form__label {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    flex: 3;
    font-size: 16px; }
  .c-form__input {
    flex: 9;
    padding: 8px 24px 8px 0;
    color: #0b77a7;
    font-size: 16px; }

.c-heading--border {
  position: relative;
  display: inline-block;
  color: #273444;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding-bottom: 16px;
  margin: 0;
  letter-spacing: .075em; }
  .c-heading--border:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -24px;
    width: 48px;
    height: 4px;
    background-color: #273444; }

.c-lean-canvas {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "problem  problem  solution    solution    unique-value unique-value advantage advantage customer-segments customer-segments" "existing existing key-metrics key-metrics concept      concept      channels  channels  early-adopter     early-adopter" "cost     cost     cost        cost        cost         revenue      revenue   revenue   revenue           revenue";
  border: 2px solid #273444;
  border-radius: 4px;
  background-color: #fff; }
  .c-lean-canvas__cell {
    min-height: 240px;
    padding: 10px; }
    .c-lean-canvas__cell--problem {
      grid-area: problem;
      border-right: 2px solid #273444; }
    .c-lean-canvas__cell--existing {
      grid-area: existing;
      border-right: 2px solid #273444; }
    .c-lean-canvas__cell--solution {
      grid-area: solution;
      border-right: 2px solid #273444;
      border-bottom: 2px solid #273444; }
    .c-lean-canvas__cell--key-metrics {
      grid-area: key-metrics;
      border-right: 2px solid #273444; }
    .c-lean-canvas__cell--unique-value {
      grid-area: unique-value;
      border-right: 2px solid #273444; }
    .c-lean-canvas__cell--concept {
      grid-area: concept;
      border-right: 2px solid #273444; }
    .c-lean-canvas__cell--advantage {
      grid-area: advantage;
      border-right: 2px solid #273444;
      border-bottom: 2px solid #273444; }
    .c-lean-canvas__cell--channels {
      grid-area: channels;
      border-right: 2px solid #273444; }
    .c-lean-canvas__cell--customer-segments {
      grid-area: customer-segments; }
    .c-lean-canvas__cell--early-adopter {
      grid-area: early-adopter; }
    .c-lean-canvas__cell--cost {
      grid-area: cost;
      border-right: 2px solid #273444;
      border-top: 2px solid #273444; }
    .c-lean-canvas__cell--revenue {
      grid-area: revenue;
      border-top: 2px solid #273444; }
  .c-lean-canvas__title {
    font-size: 1vw;
    font-weight: bold;
    margin: 0 0 10px; }
  .c-lean-canvas__subtitle {
    font-size: .8vw;
    font-weight: normal;
    margin: 0;
    opacity: .6; }
  .c-lean-canvas__textarea {
    width: 100%;
    margin-top: 5px;
    border: 0;
    outline: 0;
    resize: none; }

.c-lean-canvas-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-bottom: 1px solid #273444;
  min-width: 500px; }
  .c-lean-canvas-title__text {
    width: 100px;
    padding-left: 10px;
    padding-bottom: 5px; }
  .c-lean-canvas-title__input {
    outline: 0;
    border: 0;
    width: 90%;
    padding-bottom: 5px;
    padding-left: 20px; }

.p-copyright {
  width: 100%;
  text-align: center;
  padding: 40px 0 80px; }
  .p-copyright__text {
    color: #fff; }

.p-footer {
  position: relative;
  background-color: #273444;
  z-index: 1; }
  .p-footer__nav {
    display: flex;
    justify-content: space-between; }
  .p-footer__nav-anchor {
    color: #fff;
    font-size: 12px; }

.p-form-devise__heading {
  text-align: center;
  margin-bottom: 60px; }

.p-form-devise__item {
  margin-bottom: 42px; }

.p-form-devise__checkbox {
  margin: -12px auto 36px;
  text-align: center; }

.p-form-devise__submit {
  text-align: center;
  margin-bottom: 68px; }

.p-form-devise__link > * {
  margin-right: 16px; }
  .p-form-devise__link > *:last-child {
    margin-right: 0; }

.p-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.96);
  padding: 6px 3vw 8px;
  transition: .2s ease-in; }
  .p-header.is-top {
    padding: 40px 3vw 8px;
    background-color: rgba(255, 255, 255, 0); }
  .p-header__logo {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    font-size: 20px; }
  .p-header__logo-anchor {
    color: #273444;
    text-decoration: none; }
    .p-header__logo-anchor:hover, .p-header__logo-anchor:active {
      color: #273444;
      text-decoration: none; }
  .p-header__nav > * {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #5C6773;
    text-decoration: none;
    margin-right: 10px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold; }
    .p-header__nav > *:hover {
      color: #273444; }
  .p-header__signout {
    font-weight: bold; }
  .p-header__signup {
    font-family: 'Raleway', sans-serif;
    padding: 6px 15px 5px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #369EFB;
    border-radius: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold; }
    .p-header__signup:hover {
      color: #fff;
      background-color: #2a85d7; }

.p-main__canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; }

.p-main-top {
  margin-top: 40px;
  background-color: #fff;
  z-index: 1; }

.p-mainvisual {
  position: relative;
  width: 100%;
  height: 684px; }
  .p-mainvisual__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    padding-top: 152px;
    margin-left: 96px;
    margin-right: 96px; }
  .p-mainvisual__explanation {
    flex: 4; }
  .p-mainvisual__artwork {
    flex: 5;
    padding-left: 60px; }
  .p-mainvisual__text {
    color: #4e5067; }
  .p-mainvisual__signup {
    text-align: center;
    padding: 16px 0; }
  .p-mainvisual__heading--top {
    text-align: center;
    font-size: 36px;
    margin: -15px 0 10px;
    padding: 5px 0;
    color: #273444;
    font-weight: lighter; }
    .p-mainvisual__heading--top:before {
      content: '"';
      position: relative;
      top: -10px;
      left: -15px; }
    .p-mainvisual__heading--top:after {
      content: '"';
      position: relative;
      bottom: -30px;
      right: -15px; }
  .p-mainvisual__logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px; }

.p-top-content {
  position: relative;
  z-index: 1;
  padding-bottom: 120px; }
  .p-top-content__heading {
    text-align: center;
    margin-bottom: 48px; }
  .p-top-content__description {
    text-align: center;
    margin-bottom: 24px; }
  .p-top-content__caption {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 36px; }
  .p-top-content__btn {
    width: 600px;
    margin: 0 auto;
    text-align: center; }

.c-container {
  margin-left: 3vw;
  margin-right: 3vw; }

.u-flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.u-text--center {
  text-align: center; }

.u-text--left {
  text-align: left; }

.u-text--right {
  text-align: right; }

.u-width--full {
  width: 100%; }
